/* Basic CSS Template */

@font-face {
    font-family: 'Ruska Display';
    src: url('fonts/RuskaDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('fonts/sono/Sono-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('fonts/sono/Sono-ExtraLight.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Sono';
    src: url('fonts/sono/Sono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

header {
    text-align: center;
    width: 100%;
    padding: 8em 0 5em 0;
    background: #7300ff;
    color: #ffc200;

    background-image: url('textures/baked_beans.jpg');
    background-blend-mode: color-burn;
}

header h1 {
    font-family: 'Ruska Display', serif;
    font-size: 5em;
    text-shadow: #ffc200 0 0 2px, #ffc200 0 0 5px, #ffc200 0 0 15px;
}

h2 {
    font-family: 'Sono', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    color: #7400FF;
    margin-bottom: 1em;

    text-shadow: #005fa3 2px 3px;
}

h3 {
    font-family: 'Sono', sans-serif;
    font-weight: bold;
    text-decoration: overline underline;
}

.segment {
    padding: 5em 3em 5em;
    font-family: 'Sono', sans-serif;
    font-weight: normal;

    padding-left: 20%;
    padding-right: 20%;
}

body {
    font-family: 'Sono', sans-serif;
    margin: 0;
    background-image: url('textures/coffee.jpg');
    background-blend-mode: darken;
    color: #222;
    line-height: 2;
}

#me-img {
    width: 30rem;
    height: 30rem;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;

    box-shadow: #d9ff00 0 0 10px, #00d9ff 0 0 20px, #ff0000 0 0 30px;
}

#me-img:active {
    transform: rotate(360deg);
    transition: .5s;
}

#cv {
    background-color: #a5cd0030;

    ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    li {
        display: inline-block;
        /* Allows wrapping in flex container */
        width: 5em;
        height: 5em;
        border-radius: 10%;
        overflow: wrap;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#projects {
    background-color: #91008530;
}

.project {
    margin-bottom: 2em;
}

#photos {
    background-color: #00914130;
}

#contact {

    ul {
        display: flex;
        flex-direction: row;
        gap: 5em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }

    li {
        display: inline-block;
        /* Allows wrapping in flex container */
        width: 4em;
        height: 4em;
        overflow: wrap;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

footer {
    text-align: center;
    padding: 2em 0;
    background: #222;
    color: #fff;
}

a {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #55ff00;
    text-decoration: none;
}

.custom-carousel {
    width: 35rem;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

button {
    background: #0077cc;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}